.portada {
    position: relative;
    overflow: hidden; /* Evita que el contenido se desborde */
}

.portada .carousel-inner {
    position: relative;
}
.portada .slide-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    height: 350px; /* Altura fija para el carrusel */
    padding: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff; /* Asegura que el texto sea visible */
}

.portada .slide-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Agrega un fondo oscuro semi-transparente */
    z-index: 1; /* Asegura que esté sobre la imagen */
}

.portada .texto {
    position: relative;
    z-index: 2; /* Asegura que esté sobre el fondo oscuro */
    text-align: center; /* Centrar el texto */
    max-width: 80%; /* Limita el ancho del texto al 80% */
    padding: 20px; /* Añadir padding para separar el texto del borde */
}

.portada .texto h2 {
    font-size: 38px;
    margin-bottom: 30px;
}

.portada .texto p {
    font-size: 22px;
    margin-bottom: 20px;
}

/* Ocultar la imagen y el texto en dispositivos con un ancho de pantalla de 768px o menos (tabletas y móviles) */
@media only screen and (max-width: 768px) {
    .imagen {
        display: none;
    }
}

/* También asegurarse de que esté oculta en móviles específicamente */
@media only screen and (max-width: 480px) {
    .imagen {
        display: none;
    }
}

/* Media query para dispositivos móviles */
@media (max-width: 820px) {
    .portada .slide-content {
        height: auto; /* Permitir que la altura se ajuste automáticamente */
        padding: 50px 20px; /* Reducir el padding en dispositivos móviles */
    }
    
    .portada .texto {
        padding: 20px;
        margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
    }
}

.animate__animated {
    animation-duration: 1.1s; /* Ajusta la duración de la animación a 1.1 segundos */
    transition: all 0.5s ease; /* Agrega una transición suave para todos los cambios */
}

.delay-1s {
    animation-delay: 0.5s; /* Reducir el retraso de la animación a 0.5 segundos */
}

.delay-2s {
    animation-delay: 1s; /* Reducir el retraso de la animación a 1 segundo */
}

.carousel-item {
    opacity: 1; /* Establece la opacidad en 1 */
    transition: opacity 0.5s ease; /* Agrega una transición suave para la opacidad */
}

.carousel-item.active {
    opacity: 1; /* Cuando el slide está activo, establece la opacidad en 1 */
}
