/* Estilos para la información */
.titulo_resoluciones {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info-container {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-block {
    flex-basis: calc(50% - 20px); /* 50% menos el espacio entre bloques */
    margin-bottom: 30px;
    background-color: #f4f4f4; /* Gris claro */
    border: 1px solid #e0e0e0; /* Gris más claro */
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
}

.info-block:nth-child(even) {
    margin-left: 20px; /* Agrega un margen a la izquierda para los bloques pares */
}

.info-block a {
    text-decoration: none;
}

.info-block p {
    font-size: 16px;
    margin-bottom: 10px;
}

.pdf-icon {
    width: 50px;
    height: auto;
    cursor: pointer;
    color: #ff0000; /* Color rojo para el ícono de PDF */
    transition: transform 0.2s;
}

.pdf-icon:hover {
    transform: scale(1.1);
}

.info-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-link button {
    margin-top: 1rem;
    background-color: #ffffff !important; /* Gris oscuro */
    color: #000000 !important; /* Blanco */
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.info-link button:hover {
    background-color: #dfdfdf !important; /* Gris aún más oscuro */
}

.info-link button i {
    margin-right: 5px;
}

/* Estilos para dispositivos de pantalla pequeños */
@media (max-width: 767px) {
    .info-block {
        flex-basis: calc(100% - 20px); /* 100% menos el espacio entre bloques */
    }

    .info-block:nth-child(even) {
        margin-left: 0; /* Elimina el margen izquierdo en dispositivos pequeños */
    }
}
